<article class="item" style="background-color: {{color}}">
  <button type="button" class="delete-item-button" onclick="removeItem('{{id}}')">x</button>
  <div class="item-content">
    <p class="item-text">
      Name: {{name}}
    </p>
    <p class="item-attribution">
      Price: ${{price}}
    </p>
  </div>
</article>